h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
p,
b {
  font-size: 1.25rem;
}

.details-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.previous {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 0%;
}

.previous .grid-container {
  overflow: hidden;
}

.current {
  height: 100%;
}

.next {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0%;
}

.next .grid-container {
  overflow: hidden;
}

.details__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.paper {
  background: rgb(245, 244, 244);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(187, 187, 187);
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium";
  height: 100%;
  max-width: 750px;
  max-height: 700px;
  margin: auto;
  padding: 2rem;
  position: relative;
  width: 90%;
  overflow: hidden;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
}

.close:hover,
.close:focus {
  color: rgb(134, 134, 134);
}

.move--left .grid-container {
  animation: changePokemon 0.75s;
}

@keyframes changePokemon {
  25% {
    transform: translateX(-110%);
  }
  50% {
    transform: scale(0) translateX(100%);
  }
  51% {
    transform: scale(1) translateX(100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}

.grid-container {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
  grid-template-areas:
    "img stats"
    "img body"
    "types abilities"
    "base-xp abilities";
  grid-template-areas:
    "img base-xp"
    "img body"
    "img stats"
    "types abilities";
  overflow: auto;
  width: 100%;
}

.img-area {
  grid-area: img;
}

.img-area__title {
  height: 15%;
}

.img-area img {
  height: 85%;
  max-width: 95%;
  object-fit: contain;
}

.stats {
  grid-area: stats;
}
.stats p,
.stats h2 {
  margin-bottom: 0.5rem;
}

.types {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-area: types;
}
.types p {
  font-size: 1rem;
}
.types h2 {
  font-size: 1.5rem;
}

.body {
  grid-area: body;
  display: flex;
}

.base-xp {
  align-items: center;
  display: flex;
  grid-area: base-xp;
}

.abilities {
  grid-area: abilities;
}

.btn-navigation {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-navigation:hover {
  color: gray;
}

.btn-navigation--previous {
  left: 1%;
}

.btn-navigation--next {
  right: 1%;
}

.tooltip {
  font-size: 1rem !important;
}

.details__tooltip {
  background-color: black;
  border-radius: 25%;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 0.1rem 0.4rem;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr;
    grid-template-areas:
      "img"
      "types"
      "stats"
      "body"
      "abilities"
      "base-xp";
  }
  .paper {
    text-align: center;
  }
  .types,
  .body,
  .base-xp {
    justify-content: center;
  }

  .btn-navigation {
    position: fixed;
  }
  .btn-navigation--next {
    right: 5%;
  }
  .btn-navigation--previous {
    left: 5%;
  }
}
