/* TYPOGRAPHY */
h1,
h2,
p,
b {
  transition: font-size 0.5s ease;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
p,
b {
  font-size: 1.25rem;
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p,
  b {
    font-size: 1rem;
  }
}

/* CONTAINERS */
.details-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: background-color 0.7s ease;
}

.details__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.grass {
  background-color: rgba(89, 173, 5, 0.8);
}

.fire {
  background-color: rgba(238, 103, 40, 0.8);
}

.poison {
  background: rgba(165, 40, 238, 0.8);
}

.flying {
  background: rgba(86, 188, 246, 0.8);
}

.water {
  background: rgba(0, 124, 195, 0.8);
}

.bug {
  background: rgba(125, 223, 46, 0.8);
}

.normal {
  background: rgba(219, 209, 165, 0.8);
}

.ground {
  background: rgba(228, 193, 37, 0.8);
}

.rock {
  background: rgba(146, 123, 18, 0.8);
}

.electric {
  background: rgba(247, 251, 5, 0.8);
}

.fairy {
  background: rgba(243, 196, 233, 0.8);
}

.psychic {
  background: rgba(255, 122, 226, 0.8);
}

.fighting {
  background: rgba(192, 0, 0, 0.8);
}

.steel {
  background: rgba(190, 190, 190, 0.8);
}

.ice {
  background: rgba(156, 240, 226, 0.8);
}

.dragon {
  background: rgba(11, 61, 170, 0.8);
}

.dark {
  background: rgba(17, 17, 17, 0.8);
}

.ghost {
  background: rgba(73, 34, 146, 0.8);
}

.paper {
  background: rgb(245, 244, 244);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(187, 187, 187);
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium";
  height: 95%;
  max-width: 750px;
  max-height: 700px;
  padding: 2rem;
  position: relative;
  width: 90%;
  overflow: hidden;
}

.close {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  right: 4%;
  margin-bottom: -0.5rem;
  position: absolute;
  top: 2%;
}

.close:hover,
.close:focus {
  color: rgb(134, 134, 134);
}

.grid-container {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
  grid-template-areas:
    "img stats"
    "img body"
    "types abilities"
    "base-xp abilities";
  grid-template-areas:
    "img base-xp"
    "img body"
    "img stats"
    "types abilities";
  overflow: auto;
  width: 100%;
}

.img-area {
  grid-area: img;
}

.img-area__title {
  height: 15%;
}

.img-area img {
  height: 85%;
  max-width: 95%;
  object-fit: contain;
}

.stats {
  grid-area: stats;
}
.stats p,
.stats h2 {
  margin-bottom: 0.5rem;
}

.types {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-area: types;
}
.types p {
  font-size: 1rem;
}
.types h2 {
  font-size: 1.5rem;
}

.body {
  grid-area: body;
  display: flex;
}

.base-xp {
  align-items: center;
  display: flex;
  grid-area: base-xp;
}

.abilities {
  grid-area: abilities;
}

/* NAVIGATION BUTTONS */
.previous {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 0%;
}

.previous .grid-container {
  overflow: hidden;
}

.current {
  height: 100%;
}

.next {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0%;
}

.next .grid-container {
  overflow: hidden;
}

.btn-navigation {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-navigation:hover {
  color: gray;
}

.btn-navigation--previous {
  left: 1%;
}

.btn-navigation--next {
  right: 1%;
}

/* TOOLTIP */
.tooltip {
  font-size: 1rem !important;
}

.details__tooltip {
  background-color: black;
  border-radius: 25%;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 0.1rem 0.4rem;
}

@media screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-areas:
      "img"
      "types"
      "stats"
      "body"
      "abilities"
      "base-xp";
  }
  .paper {
    text-align: center;
  }
  .types,
  .body,
  .base-xp {
    justify-content: center;
  }

  .btn-navigation {
    position: fixed;
  }
  .btn-navigation--next {
    right: 5%;
  }
  .btn-navigation--previous {
    left: 5%;
  }
}
