@font-face {
  font-family: "Press Start 2P";
  src: url("../../fonts/PressStart2P-Regular.ttf") format("truetype");
}
nav {
  align-items: center;
  background: red;
  display: flex;
  height: 8%;
  min-height: 3.5rem;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.sticky {
  position: sticky;
  top: 0;
}

.nav__title {
  font-family: "Press Start 2P";
  font-size: 2.5rem;
  color: rgb(238, 216, 20);
  text-shadow: -5px 0 rgb(45, 97, 165), 0 5px rgb(45, 97, 165),
    5px 0 rgb(45, 97, 165), 0 -5px rgb(45, 97, 165);
  letter-spacing: 5px;
}
