.chip {
  align-items: center;
  border-radius: 15px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin: 0 0.3rem;
  max-width: 3rem;
  padding: 0.5rem;
}

.chip--grass {
  background: rgb(89, 173, 5);
  color: white;
}

.chip--poison {
  background: rgb(165, 40, 238);
  color: white;
}

.chip--fire {
  background: rgb(238, 103, 40);
  color: white;
}

.chip--flying {
  background: rgb(86, 188, 246);
}

.chip--water {
  background: rgb(0, 124, 195);
  color: white;
}

.chip--bug {
  background: rgb(125, 223, 46);
}

.chip--normal {
  background: rgb(219, 209, 165);
}

.chip--ground {
  background: rgb(228, 193, 37);
}

.chip--rock {
  background: rgb(146, 123, 18);
  color: white;
}

.chip--electric {
  background: rgb(247, 251, 5);
}

.chip--fairy {
  background: rgb(243, 196, 233);
}

.chip--psychic {
  background: rgb(255, 122, 226);
}

.chip--fighting {
  background: rgb(192, 0, 0);
  color: white;
}

.chip--steel {
  background: rgb(190, 190, 190);
}

.chip--ice {
  background: rgb(156, 240, 226);
}

.chip--dragon {
  background: rgb(11, 61, 170);
  color: white;
}

.chip--dark {
  background: rgb(17, 17, 17);
  color: white;
}

.chip--ghost {
  background: rgb(73, 34, 146);
  color: white;
}
