* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium";
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content {
  height: 92%;
  position: relative;
  width: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
}

.btn--search {
  border: rgb(202, 202, 202) 1px solid;
}

.btn--search:hover {
  background-color: rgb(212, 209, 209);
}

.btn--pdf {
  background-color: red;
  color: white;
  padding: 0.4rem;
}

.btn--pdf:hover {
  background-color: rgb(255, 78, 78);
}
